* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 50px;
}
input {
  width: 100%;
  padding: 10px;
}
.card {
  width: 200px;
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
  float: left;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  display: block;
}
